.env
__pycache__/
*.pyc
*.pyo
*.py[cod]
*.swp
*.swo
*.DS_Store
*.log
logs/
.venv/
venv/

poetry.lock
Pipfile
Pipfile.lock

celerybeat-schedule
celerybeat.pid
*.celery

docker-compose.override.yml
.env.docker
*.pyc
app/config/__pycache__/db.cpython-312.pyc
